<h1>Positions#Index</h1>
<%@positions.each do |position| %>
    <ul>
      <li><%= position.name %></li>
    </ul>
  <% end %>

<%@positions.each do |position| %>
    <ul>
      <li><%= position.skill %></li>
    </ul>
  <% end %>
