


<h1>Possible recruiters for <%= @applicant.first_name %>
</h1>
<div>


<%#= form_tag applicant_path method: (:get|:post|:patch|:put|:delete) do %>

<% @rec_matches.each do |match| %>

<input type="radio" name="recruiter-id" value=<%= match.id %>/><%= match.name %> <br>

<% end %>
<%# end %>
<!-- <button type="submit">SUBMIT</button> -->
<!-- </form> -->

</div>








