<h2>Congratulation! The appointment is booked </h2>



<button>Add a new position</button>

<a href="/applicants/new" class="btn btn-default">Add a new candidate</a>

<a href="/positions/new" class="btn btn-default">Add a new position</a>
