<h1>Welcome to Recruit-R </h1>


<h3>Please select your options below :</h3>


<div>

<a href="/applicants/new" class="btn btn-primary">Add a new candidate</a>

<a href="/positions/new" class="btn btn-primary">Add a new position</a>

<a href="/positions" class="btn btn-primary">All open positions</a>

</div>




